<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">

            <div class="col-sm-12 col-md-10">
                <h6 class="m-0 font-weight-bold text-primary">Zoom Account Info</h6>

            </div>
            <div class="col-sm-12 col-md-2" style="float: right">
                 
                <a href="@Url.Action("Authorization")" class="btn btn-info btn-icon-split" style="background-color: #0e71eb">
                    <span class="icon text-white-50">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <span class="text">Connect Zoom</span>
                </a>

            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <p>You have not linked the zoom account.</p>
            </div>
        </div>
    </div>
</div>
