
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var Messages = ViewBag.Messages != null ? ViewBag.Messages : string.Empty;
    var CheckConnect = ViewBag.CheckConnect != null ? ViewBag.CheckConnect : string.Empty;

}

 
<div class="container-fluid">

    <!-- Page Heading -->
    @*<h4 class="mb-2 text-gray-800">Zoom Connection Manager</h4>*@
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    @if (!string.IsNullOrEmpty(CheckConnect.ToString()))
    {
        @Html.Partial("_InfoZoom");
    }
    else
    {
        @Html.Partial("_NotConnect");

    }
</div>
@section Script{


    @if (!string.IsNullOrEmpty(Messages))
    {
        <script>
            $(document).ready(function() {
                toastr.success("@Messages", 'OK');
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(CheckConnect.ToString()))
    {
        <script>
            function getById(Id) {
                $.ajax({
                    url: '/Student/GetById/' + Id,
                    // data: JSON.stringify(dto),
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var data = JSON.parse(result.data);
                        var item = data.Table[0];

                        $('#StudentId').val(item.ID);
                        $('#Name').val(item.NAME);

                        $('#myModal').modal('show');
                        $('#btnUpdate').show();
                        $('#btnAdd').hide();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                return false;
            }
        </script>
    }



}