
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var Messages = ViewBag.Messages != null ? ViewBag.Messages : string.Empty;
    var CheckConnect = ViewBag.CheckConnect != null ? ViewBag.CheckConnect : string.Empty;

}

<div class="container-fluid">

    <!-- Page Heading -->
    @*<h4 class="mb-2 text-gray-800">Zoom Connection Manager</h4>*@
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    @if (!string.IsNullOrEmpty(CheckConnect.ToString()))
    {
        <div id="data-result"></div>
    }
    else
    {
        @Html.Partial("_NotConnect");

    }
</div>


@section Script{
    @if (!string.IsNullOrEmpty(Messages))
    {
        <script>
            $(document).ready(function() {
                toastr.success("@Messages", 'OK');
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(CheckConnect.ToString()))
    {
        <script>
            $(document).ready(function () {
                getById();
            });
            function getById() {
                $.ajax({
                    url: '/Admin/Zoom/GetInfoZoom',
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        console.log(result);
                        $('#data-result').html(result);

                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
                return false;
            }
        </script>
    }
}